
body {
    background-color: #8fd3f4;
}

.mainbox {
    background-color: #8fd3f4;
    margin: auto;
    height: 500px;
    width: 600px;
    margin-top: -60px;
    position: relative;
    z-index: -1;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 15.5rem;
    left: 42.7%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 600px;
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    z-index: -1;
    margin-top: -67px;
}